#total-header,
#total-header-menu,
#total-footer,
.hide-on-upper-panel{
	display:none !important
}
html,body{
	width:100%;
	overflow:hidden;
}
div#total-wrap{
	width:240px;
	height:180px;
	margin:0 auto;
	padding-top:60px;
}
div#total-content,
div#total-wrap{
	background:none;
	position:relative;
}