table#reservation_table {
    border-width: 1px;
    border-spacing: 2px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
    width:100%;
}
table#reservation_table th {
    border-width: 1px;
    padding: 4px;
    border-style: inset;
    border-color: gray;
}
table#reservation_table td {
    text-align:center;
    border-width: 1px;
    padding: 4px;
    border-style: inset;
    border-color: gray;
}