@print {
    margin-top: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}

#bootstrap-overrides td.print{
    border-color: black !important;
    border-width: 1px !important;
}

#bootstrap-overrides td.important {
    border-width: 2px !important;
}

td.hide {
    color: white;
}