a.nav-year{
	display:block;
	padding:3px;
	color:#555;
	background:#DDF;
	text-align:center;
}
a.nav-year:hover{
	background:white;
	color:black;
}
a.nav-month{
	display:block;
	padding:3px;
	color:#555;
	background:#EEE;
	text-align:center;
}
a.nav-month:hover{
	background:white;
	color:black;
}
table#calender{
	width:100%;
}
table#calender th{
	padding:12px;
}
table#calender td{
	padding:0;
	height:120px;
	vertical-align:top;
}
table#calender td span.datename{
	font-size:12pt;
	font-weight:bold;
	float:left;
}
table#calender td a.edit{
	float:right;
	display:block;
	padding:2px;
	color:black;
}
table#calender td a.food{
	float:right;
	display:block;
	padding:2px;
	color:black;
}
table#calender td div.divider{
	height:1px;
	display:block;
	width:100%;
	clear:both;
	border-top:1px dashed #EEE;
}
table#calender th,
table#calender td{
	width:14.285714285714285714285714285714%;
}
