<h2>새로운 바베큐 신청</h2>
<form name="newBarbeque">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td style="width:15%; vertical-align: middle;">시간</td>
                <td style="width:17.5%">
                    <ui-select ng-model="new_bbq.start_hour" theme="bootstrap">
                        <ui-select-match placeholder="시">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="hour in (hourArray | filter: $select.search) track by hour.value">
                            <span ng-bind="hour.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td style="width:17.5%">
                    <ui-select ng-model="new_bbq.start_min" theme="bootstrap">
                        <ui-select-match placeholder="분">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="min in (minArray | filter: $select.search) track by min.value">
                            <span ng-bind="min.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td style="width:15%; text-align: center; vertical-align: middle;"> &nbsp;&nbsp;&nbsp; ~ &nbsp;&nbsp;&nbsp; </td>
                <td style="width:17.5%">
                    <ui-select ng-model="new_bbq.finish_hour" theme="bootstrap">
                        <ui-select-match placeholder="시">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="hour in (hourArray | filter: $select.search) track by hour.value">
                            <span ng-bind="hour.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </td>
                <td style="width:17.5%">
                    <ui-select ng-model="new_bbq.finish_min" theme="bootstrap">
                        <ui-select-match placeholder="분">
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="min in (minArray | filter: $select.search) track by min.value">
                            <span ng-bind="min.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td style="width:15%; vertical-align: middle;">담당 교사</td>
                <td colspan="5"><!--input type="text" name="teacher" class="form-control" placeholder="선택해주세요" style="width: 50%"-->
                    <ui-select ng-model="new_bbq.selectedTeacher" theme="bootstrap">
                        <ui-select-match>
                            <span ng-bind="$select.selected.s_name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="teacher in (tArray | filter: $select.search) track by teacher.n_id">
                            <span ng-bind="teacher.s_name"></span>
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">구별</td>
                <td colspan="5">추가 구현 예정 (수업반별, 행정반별, 동아리별, 즐겨찾기, 친목 도모 등)</td>
            </tr>
            <tr>
                <td style="vertical-align: middle;">참여 학생</td>
                <td colspan="5">
                    <ui-select multiple ng-model="new_bbq.selectedStudent" theme="bootstrap" ng-disabled="disabled" sortable="true" close-on-select="false">
                        <ui-select-match placeholder="참여 학생을 선택해주세요">{{$item.n_grade}}{{$item.s_name}}</ui-select-match>
                        <ui-select-choices repeat="student in (studentArray | filter: $select.search) track by student.n_student_id">
                            <div ng-bind-html="student.s_name | highlight: $select.search"></div>
                            <small>
                                {{student.n_grade}}학년 {{student.s_class}}반
                            </small>
                        </ui-select-choices>
                    </ui-select>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-default pull-right" ng-click="">임시 저장</button>
        <button class="btn btn-success center-block" ng-click="">신청하기</button>
    </div>
</form>