<h2>내가 신청한 바베큐 목록<span>3</span></h2>
<table class="table">
    <thead>
        <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 25%; text-align: center">제목</th>
            <th style="width: 15%; text-align: center">참가 인원</th>
            <th style="width: 25%; text-align: center">날짜</th>
            <th style="width: 20%; text-align: center">담당 교사 승인</th>
            <th style="width: 20%; text-align: center">행정실 승인</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>12학년 11반</td>
            <td>11</td>
            <td>2017-09-15</td>
            <td>우창효 tr. (승인)</td>
            <td>(승인)</td>
        </tr>
    </tbody>
</table>

<h2>내가 참가할 바베큐 목록</h2>
<table class="table">
    <thead>
        <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 25%; text-align: center">제목</th>
            <th style="width: 15%; text-align: center">참가 인원</th>
            <th style="width: 25%; text-align: center">날짜</th>
            <th style="width: 20%; text-align: center">담당 교사 승인</th>
            <th style="width: 20%; text-align: center">행정실 승인</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>