<div class="col-xs-5">
    <h3>도서 검색</h3>
    <form>
        <div class="input-group">
            <input name="test-query" placeholder="도서 검색" ng-model="test" id="query" class="form-control">
            <span class="input-group-btn"><button class="btn btn-info" onclick="" type="button" ng-click="bookFetch(test)"><i class="fa fa-search"></i></button></span>
        </div>
    </form>
    <h3>선택한 도서 - 상세 정보</h3>
    <div class="well" ng-if="isBookSelected">
        <p>도서명: {{removeHTMLTags(selected.book.title)}}</p>
        <p>저자: {{removeHTMLTags(authorRefined(selected.book.author))}}, 출판사: {{removeHTMLTags(selected.book.publisher)}}</p>
        <p>출간연도: {{selected.book.pubdate.substring(0, 4)}}년 </p>
        <p>{{isAvailable(selected.book) ? '정가: ' + selected.book.price + '원' : '절판 등의 이유로 도서를 구매할 수 없습니다'}}</p>
    </div>
    <form name="book_request" ng-show="isBookSelected && isAvailable(selected.book)">
        <textarea class="form-control" placeholder="도서 신청 사유를 입력해주세요.(1-3줄)" ng-model="selected.reason"></textarea>
        <button class="btn btn-info" type="button" ng-click="submit()">신청하기</button>
    </form>
</div>
<div class="col-xs-7">
    <p>status: {{status}}</p>
    <table class="table table-striped" style="display: block;">
        <thead>
            <tr>
                <th>#</th>
                <th>도서 이미지</th>
                <th>책 정보</th>
            </tr>
        </thead>
        <tbody style="height: 380px; overflow-y: auto; display: block;">
            <tr ng-repeat="book in bookList" ng-click="select(book)">
                <td>{{$index + 1}}</td>
                <td><img ng-src="{{book.image !== 'undefined' ? book.image : '/images/book-no-img.gif'}}" style="max-height:100px"></td>
                <td ng-bind-html="bookDesc(book)"></td>
                <!--td ng-bind-html="book.author + "></td>
                <td ng-bind-html="book.publisher"></td>
                <td>{{book.pubdate}}</td-->
            </tr>
        </tbody>
    </table>
</div>