<div class="col-xs-3">
    <form>
        <div class="form-group">
            <input placeholder="도서관 비밀번호" class="form-control" ng-model="lib_password" type="password">
        </div>
        <button class="btn btn-info" type="button" ng-click="login(lib_password)">로그인</button>
        <!--div class="input-group">
            <input name="test-query" ng-model="test" id="query" class="form-control">
            <span class="input-group-btn"><button class="btn btn-info" onclick="" type="button" ng-click="bookFetch(test)"><i class="fa fa-search"></i></button></span>
        </div-->
    </form>
    <p>status: {{status}}</p>
    <p ng-hide="!login_error">대출 권수: {{output.bookNum}}권</p>
    <p ng-show="login_error" style="color: red">로그인 에러: {{output.error_desc}}</p>
    <!--div style="height: 400px;overflow: auto">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>도서 이미지</th>
                    <th>책 정보</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in bookList">
                    <td>{{$index + 1}}</td>
                    <td><img ng-src="{{book.image}}" style="max-height:100px"></td>
                    <td ng-bind-html="bookDesc(book)"></td>
                    <td ng-bind-html="book.author + "></td>
                    <td ng-bind-html="book.publisher"></td>
                    <td>{{book.pubdate}}</td>
                </tr>
            </tbody>
        </table>
    </div-->
</div>
<div class="col-xs-9">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>도서명</th>
                <th>대출일</th>
                <th>반납일</th>
                <th>상태</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="book in output.bookList">
                <td>{{book.number}}</td>
                <td ng-bind-html="refineBookInfo(book.info)"></td>
                <td>{{book.borrow_date}}</td>
                <td>{{book.return_date}}</td>
                <td>{{book.status}}</td>
                <td>(unprepared)</td>
            </tr>
        </tbody>
    </table>
</div>