<div class="col-xs-3">
    <form>
        <div class="form-group">
            <input placeholder="도서관 비밀번호" class="form-control" ng-model="lib_password" type="password">
        </div>
        <button class="btn btn-info" type="button" ng-click="login(lib_password)">로그인</button>
        <!--div class="input-group">
            <input name="test-query" ng-model="test" id="query" class="form-control">
            <span class="input-group-btn"><button class="btn btn-info" onclick="" type="button" ng-click="bookFetch(test)"><i class="fa fa-search"></i></button></span>
        </div-->
    </form>
    <p>status: {{status}}</p>
    <p ng-hide="error()">대출 권수: {{output.bookNum}}권</p>
    <p ng-show="error()" style="color: red">로그인 에러: {{output.error_desc}}</p>

</div>
<div class="col-xs-9">
    <table class="table" style="display: block;">
        <thead style="display: table; width: 100%;">
            <tr>
                <th style="width: 7%">#</th>
                <th style="width: 43%">도서명</th>
                <th style="width: 13%; text-align: center;">대출일</th>
                <th style="width: 13%; text-align: center;">반납일</th>
                <th style="width: 9%; text-align: center;">상태</th>
                <th style="width: 15%; text-align: center;">대출 연장</th>
            </tr>
        </thead>
        <tbody style="display: table; width: 100%">
            <tr ng-repeat="book in output.bookList">
                <td style="width: 7%">{{book.number}}</td>
                <td ng-bind-html="refineBookInfo(book.info)" style="width: 43%"></td>
                <td style="width: 13%; text-align: center;">{{book.borrow_date}}</td>
                <td style="width: 13%; text-align: center;">{{book.return_date}}</td>
                <td style="width: 9%; text-align: center;">{{book.status}}</td>
                <td style="width: 15%; text-align: center;"><button class="btn btn-success" type="button" ng-click="delay(book)">신청</button></td>
            </tr>
        </tbody>
    </table>
</div>