<div id="print_area" ng-cloak>
    <table class="table table-bordered" style="text-align: center; vertical-align: middle;">
        <tr>
            <td class="col-md-6 col-sm-6" rowspan="3" colspan="3" style="text-align:center; "><h3 style="line-height: 1.5em">외출 • 외박 • 결석 <br/> 신청서 </h3></td>
            <td class="col-md-2 col-sm-2" rowspan="1" colspan="1" style="width:16.6%;"> 어드바이저 </td>
            <td class="col-md-2 col-sm-2" rowspan="1" colspan="1" style="width:16.6%;"> 학생부장 </td>
            <td class="col-md-2 col-sm-2" rowspan="1" colspan="1" style="width:16.6%;"> 교무부장 </td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" rowspan="2"></td>
            <td class="col-md-2 col-sm-2" rowspan="2"></td>
            <td class="col-md-2 col-sm-2" rowspan="2"></td>
        </tr>
        <tr></tr>
        <tr>
            <td class="col-md-12 col-sm-12" rowspan="1" colspan="6" style="font-size="> {{info.grade}} 학년  {{info.class}} 반    성명 ( {{info.name}} ) 호실 ( {{info.room}} )
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1">기      간</td>
            <td class="col-md-10 col-sm-10" colspan="5">{{info.date.start_month.value}}월  {{info.date.start_date.value}}일   {{getDay(info.date.start_month.value, info.date.start_date.value)}}요일 {{info.date.start_time.value < 12 ? "(AM)" : "(PM)"}}  시〜  {{info.date.finish_month.value}}월  {{info.date.finish_date.value}}일   요일 {{info.date.finish_time.value < 12 ? "(AM)" : "(PM)"}}   시</td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="3" style="vertical-align: middle">사      유</td>
            <td class="col-md-4 col-sm-4" colspan="2" rowspan="3" style="width:200px">{{info.reason}}</td>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="1">보건실장</td>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="3" style="text-align: right; vertical-align: middle">싸인</td>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="1" style="font-size: 0.6em; width: 20%;">질병귀가는 보건실장의 날인을 받음. </td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="1">(       과)<br/>수석교사</td>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="1" style="font-size: 0.6em">각종 시험 및 대회는 성향에 따라 각 교과별 수석교사에게 날인을 받음. </td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="1">특별활동<br/>지도실장</td>
            <td class="col-md-2 col-sm-2" colspan="1" rowspan="1" style="font-size: 0.6em">동아리활동으로 인한 외출외박은 특별활동지도실장의 날인을 받음.</td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1">행 선 지</td>
            <td class="col-md-10 col-sm-10" colspan="5">{{info.destination}}</td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1">교 통 편</td>
            <td class="col-md-4 col-sm-4" colspan="2">{{info.transport}}</td>
            <td class="col-md-6 col-sm-6" colspan="3">* 행정실에 차량지원신청서를 제출한 학생은<br/> 학생부장의 날인 후에 복사본을 행정실에 제출함.</td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1">핸드폰 번호</td>
            <td class="col-md-10 col-sm-10" colspan="5">학생 ( {{info.phone_number}} )   부모님 ( {{info.parent_phone_number}} ) </td>
        </tr>
        <tr>
            <td class="col-md-2 col-sm-2" colspan="1">부모님 확인</td>
            <td class="col-md-10 col-sm-10" colspan="5">YES / NO</td>
        </tr>
        <tr>
            <td colspan="6">※ 아래 굵은 테두리에는 기재하지 마세요. (교육정보관리실에서 기재함)</td>
        </tr>
        <tr>
            <td colspan="6">공결 • 기타결 • 병결 신청란</td>
        </tr>
        <tr>
            <td colspan="2">결석유형 판단</td>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="2">결석일시</td>
            <td colspan="4">         월     일    교시  〜    월     일    교시</td>
        </tr>

    </table>
</div>